/* *{
  border: 1px solid red;
} */
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Parisienne', cursive; */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tg3ogf');
  src:  url('../fonts/icomoon.eot?tg3ogf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tg3ogf') format('truetype'),
    url('../fonts/icomoon.woff?tg3ogf') format('woff'),
    url('../fonts/icomoon.svg?tg3ogf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cancel-circle:before {
  content: "\ea0d";

}

.icon-menu:before {
  content: "\e9bd";

}
body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color:white;
  font-size: 1.5rem;
}
h1{
  font-family: 'Russo One', sans-serif;
  margin: 0;
  font-size: 50px;
  color: white;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
header{
background-color: rgb(224, 13, 13);
position: fixed;
margin-top: -50px;
width: 100vw;
z-index: 1;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo a{
  display: flex;
  align-items: center;
  cursor: pointer;
}
h1, nav, header ul{
  display: inline-block;
}
.active{
  left: 0;
}
.hamburger-button{
  z-index: 1;
  color: white;
  border-radius: 50%;
  background: rgb(224, 13, 13);
  position: fixed;
  font-size: 40px;
  padding: 9px;
  top: 6px;
  left: 9px;
  display: none;
  cursor: pointer;
}
.portada {
  background-image: url(../images/moscu.jpg);
  background-size: cover;
  width: 100%;
  height: 665px;
  margin-top: 50px;
  position: relative;
}
.portada .transparencia{
  background-color:  rgba(255, 0, 0, 0.5);
}
.titulo{
position: absolute;
top: 45%;
right: 5%;
text-align: right;
font-size: 46px;
}
.titulo-1{
  font-family: 'Russo One', sans-serif;
}
.titulo-2{
  font-family: 'Parisienne',sans-serif;
  font-size: 56px;
}
.marcador{
  background-image: url("../images/estadio1.jpg");
  background-size: cover;
  height:100%;
  /* padding:20px 0; */
}
.contenedor{
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px 0;
}
.transparencia{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.5);
  /* padding: 20px 0; */

}

.nombre input{
  font-size: 30px;
text-align: center;
line-height: 34px;
font-family: 'Ubuntu', sans-serif;
width: 100%;
}
.nombre{
 margin-top: 50px;
}
.nombre label{
  display: block;
  text-align: center;
}
input, select {
  border-radius: 8px;
  width: 85%;
  text-align: center;
  font-size: 16px;
}
/* .grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:"grupoA grupoB grupoC grupoD grupoE grupoF grupoG grupoH"
                      "grupo2B grupo2A grupo2D grupo2C grupo2F grupo2E grupo2H grupo2G"
                      "cuartos_1 cuartos_2 cuartos_3 cuartos_4 cuartos_5 cuartos_6 cuartos_7 cuartos_8"
                      "semifinalista_1 semifinalista_1 semifinalista_3 semifinalista_3 semifinalista_2 semifinalista_2 semifinalista_4 semifinalista_4"
                      ". finalista_3 finalista_3 . . finalista_4 finalista_4 . "
                      ". finalista_1 finalista_1 . . finalista_2 finalista_2 . "
                      ". . . campeon campeon . . ."
                      ". . . enviar enviar . . .";
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 4% 0;
}
.grupoA{
  grid-area: grupoA;
}
.grupo2A{
  grid-area: grupo2A;
  grid-row-gap: 10px;
}
.grupoB{
grid-area: grupoB;
}
.grupo2B{
grid-area: grupo2B;
}
.grupoC{
grid-area: grupoC;
}
.grupo2C{
grid-area: grupo2C;
}
.grupoD{
grid-area: grupoD;
}
.grupo2D{
grid-area: grupo2D;
}
.grupoE{
grid-area: grupoE;
}
.grupo2E{
grid-area: grupo2E;
}
.grupoF{
grid-area: grupoF;
}
.grupo2F{
grid-area: grupo2F;
}
.grupoG{
grid-area: grupoG;
}
.grupo2G{
grid-area: grupo2G;
}
.grupoH{
grid-area: grupoH;
}
.grupo2H{
grid-area: grupo2H;
}
.cuartos_1{
grid-area: cuartos_1;
}
.cuartos_2{
grid-area: cuartos_2;
}
.cuartos_3{
grid-area: cuartos_3;
}
.cuartos_4{
grid-area: cuartos_4;
}
.cuartos_5{
grid-area: cuartos_5;
}
.cuartos_6{
grid-area: cuartos_6;
}
.cuartos_7{
grid-area: cuartos_7;
}
.cuartos_8{
grid-area: cuartos_8;
}
.semifinalista_1{
grid-area: semifinalista_1;
}
.semifinalista_2{
grid-area: semifinalista_2;
}
.semifinalista_3{
grid-area: semifinalista_3;
}
.semifinalista_4{
grid-area: semifinalista_4;
}
.finalista_1{
grid-area: finalista_1;
}
.finalista_2{
grid-area: finalista_2;
}
.finalista_3{
grid-area: finalista_3;
}
.finalista_4{
grid-area: finalista_4;
}
.campeon{
grid-area: campeon;
}
.enviar{
  grid-area: enviar;
  margin-top: 20px;
} */
.grid{
  font-size: 20px;
}
.grupo-1, .grupo-2, .fase-cuartos, .semifinalistas, .finalistas-3-4, .finalistas, .campeon {
display: flex;
text-align: center;
justify-content: center;
}
.fase-grupos, .fase-cuartos, .semifinalistas, .finalistas-3-4, .finalistas, .campeon{
  margin: 33px 0;
}
.equipo-final{
margin: 5px 0;
}
.enviar-1{
  display: block;
  margin: 10px auto;
}


form{
  display: flex;
    flex-direction: column;
    align-items: center;
}


.equipo img {
  width: 300px;
  display: flex;
}
.caja{
display: flex;
justify-content: space-between;
align-items: center;
}

/* match */
.match img, .programacion img{
  opacity: 0;
  transition: 2500ms;
}
.match .b-loaded, .programacion .b-loaded{
  opacity: 1;
}
.match{
  background-image: url("../images/soccer-2.jpg");
  background-size: cover;
  /* height:650px; */
}
.match h2{
text-align: center;
margin-bottom: 0;
}
.match .formulario{
  margin-top: 5%;
}
.equipo{
  margin:0 20px;
  display: flex;
  flex-direction: column;
 text-align: center;
}
.equipo img {
    max-width: 300px;
    width: 100%;
    max-height: 200px;
    display: flex;
  }
.equipo label{
  margin-top: 20px;
}

.match .caja{
  margin: 40px 0;
}
.caja label{
  font-size: 20px;
}
.botton{
  background-color: rgba(225, 187, 0, 1);
  border: none;
  padding: 8px 16px;
  width: auto;
}
/* match */
/* programacion */
.programacion{
  background-image: url("../images/estadio2.jpg");
  background-size: cover;
}
.programacion h2{
margin: 0;
padding: 12% 0 30px;
text-align: center;
font-family: 'Russo One', sans-serif;
}

.partidos{
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.grupos{
  min-width: 160px;
}
.programacion .tabla{
  height: 410px;
  overflow: overlay;
  margin-bottom: 25px;
}
table {
  margin: 0 auto;
  width: 100%;
}
thead{
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 21px;
}
tbody{
  background-color: rgba(66, 66, 96, 0.5);
  font-size: 18px;
}
th{
padding: 6px 14px;
}
td{
margin: 5px;
}
/* programacion */
/* ranking */
.ranking{
background-image: url("../images/soccer-ball.jpg");
background-size: cover;
background-position: center;
/* height: 600px; */
}
.ranking table{
  width: 100%;
  text-align: center;
}
.ranking h2{
  text-align: center;
}
/* ranking */
/* footer */
footer{
  background-color: rgb(224, 13, 13);
  text-align: center;
  height: 100%  ;
  font-size: 16px;
}
footer span{
padding: 51px;
display: block;
}
/* footer */
@media screen and (max-width:1120px){
  h1{
font-size: 35px;
  }
  h1, nav, header ul{
    display: block;
  }
  header ul{
    font-size: 20px;
    margin: 2px;
  }
}

@media screen and (max-width:800px){
.grid{
  display: block;
  max-width: 85%;
  text-align: center;
  margin: 15px auto;
}
.grupo-1, .grupo-2, .fase-cuartos, .semifinalistas, .finalistas-3-4, .finalistas, .campeon {
flex-wrap: wrap;
}
/* .grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:"grupoA grupoA grupo2B grupo2B"
                      "grupoB grupoB grupo2A grupo2A"
                      "grupoC grupoC grupo2D grupo2D"
                      "grupoD grupoD grupo2C grupo2C"
                      "grupoE grupoE grupo2F grupo2F"
                      "grupoF grupoF grupo2E grupo2E"
                      "grupoG grupoG grupo2H grupo2H"
                      "grupoH grupoH grupo2G grupo2G"
                      "cuartos_1 cuartos_1 cuartos_2 cuartos_2"
                      "cuartos_3 cuartos_3 cuartos_4 cuartos_4"
                      "cuartos_5 cuartos_5 cuartos_6 cuartos_6"
                      "cuartos_7 cuartos_7 cuartos_8 cuartos_8"
                      "semifinalista_1 semifinalista_1 semifinalista_2 semifinalista_2"
                      "semifinalista_3 semifinalista_3 semifinalista_4 semifinalista_4"
                      "finalista_3 finalista_3 finalista_4 finalista_4"
                      "finalista_1 finalista_1 finalista_2 finalista_2"
                      ". campeon campeon ."
                      ". enviar enviar .";
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 4% 0;
} */


.grid input{
  width: 100%;
  max-width: 128px;
}
.octavos, .cuartos, .finalistas, .campeon{
  display: flex;
  justify-content: center;
}
.octavos{
  flex-wrap: wrap;
}
.equipo-final{
width: auto;
border: none;
margin: 9px;
}
.grid .botton{
  margin-top: 10px;
}
.ranking table{
  width: 85%;
}
}
@media screen and (max-width:650px){
  .partidos{
max-width: 100vh;
width: 100%;
font-size: 18px;
margin-left: 10px
  }
  .programacion .tabla{
    margin: 25px auto;
    width: 93%;
    font-size: 12px;
  }
.fase-grupos{
  display: flex;
}
}
@media screen and (max-width:500px){
 .hamburger-button{
   display: block;
 }
  .cuartos{
    flex-wrap: wrap;
  }
  .header{
    display: block;
  }
  .logo a{
    flex-direction: column;
  }
  header{
    position: static;
    margin-top: 0;
  }
header nav{
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(224, 13, 13,.8);
  left: -100%;
  display: flex;
flex-direction: column;
justify-content: center;
transition: 1s;
  }
  header ul {
font-size: 42px;
padding: 30px 0;
border-bottom: 1px solid;
  }
  .portada {
    margin-top: 0;
    background-position: top;
    height: 402px;
    position:static;
  }

  .titulo{
  position: static;
  padding-top: 18px;
  font-size: 31px;
  }
  /* .match{
    height: 565px;
  } */
  /* .match .formulario{
    margin-top: 41%; */
  }
  .partidos{
    margin-left: 0;
  }

}
